@import "tailwindcss";
.pagination-notch {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  background-color: white;
  padding: 1rem 2.5rem; 
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.05);
}


.dot {
  width: 8px;
  height: 8px;
  border-radius: 9999px;
  background-color: #D1D5DB; 
  transition: all 0.3s ease;
  cursor: pointer;
}


.dot-active {
  width: 32px; 
  background-color: #00796B; 
}
@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

@utility inverted-scoop {
  position: absolute;
  right: -50px; 
  bottom: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-bottom-left-radius: 50px;
  box-shadow: -20px 20px 0 20px #FFEB69; 
  pointer-events: none;
}